### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(heroes_csv)

#Show the dataframe 
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Get the total number of players
#Calculate the lengh of users then convert to dataframe 

total_players = len(heroes_df["SN"].unique())

total_players_df = pd.DataFrame({"Total Players" : [total_players]})

total_players_df

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:


unique_heroes = len(heroes_df["Item Name"].unique())

average_price = heroes_df["Price"].mean()

no_of_purchase = len(heroes_df["Purchase ID"].value_counts())

total_revenue = heroes_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_heroes], 
                                       "Average Price": [average_price], 
                                       "Number of Purchases": [no_of_purchase],
                                       "Total Revenue": [total_revenue]
                                      })

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)                                   

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

This one seems to work

In [18]:
#find player totals by user 

gender_df = heroes_df[["Gender", "SN"]].value_counts()

grouped_gender_df = gender_df.groupby(['Gender'])

gender_count_df = grouped_gender_df.count()
# gender_count_df

gender_demographics_df = pd.DataFrame(gender_count_df)
# gender_demographics_df

#Find Percentage of players

gender_split_df = (gender_demographics_df / total_players)
# gender_split_df


#Find Percentage of players

gender_split_df = (gender_demographics_df / total_players)

In [17]:
#Merge the two results together for Gender Demographics

merge_gender_df = pd.merge(gender_demographics_df,gender_split_df, on="Gender")
# merge_gender_df

merged_gender_df = pd.DataFrame(merge_gender_df)

merged_gender_df  = merged_gender_df.sort_values("0_y", ascending=False)

renamed_gender_df = merged_gender_df.rename(columns=({"0_x": "Total Count", "0_y": "Percentage of Players"}))

renamed_gender_df = renamed_gender_df.style.format({"Percentage of Players":"{:.2%}"})

renamed_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#use heroes_df 
heroes_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [32]:
#Create Purchase count 

purchase_count = heroes_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
av_purchase_price = heroes_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_value = heroes_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
av_total_pp = heroes_df.groupby(["Gender"]) = total_purchase_value / purchase_count

SyntaxError: cannot assign to function call (<ipython-input-32-6bf91ff4cc5a>, line 6)

In [31]:
#create a summary table for Purcahsing Analysis (Gender)

Purchasing_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": av_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": [av_total_pp]
    
})

Purchasing_analysis_gender_df

ValueError: array length 1 does not match index length 3

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame