### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
heroes_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(heroes_csv)

#Show the dataframe 
# heroes_df.head()

## Player Count

* Display the total number of players

In [2]:
#Get the total number of players
#Calculate the lengh of users then convert to dataframe 

total_players = len(heroes_df["SN"].unique())

total_players_df = pd.DataFrame({"Total Players" : [total_players]})

total_players_df

   Total Players
0            576

# Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc

unique_heroes = len(heroes_df["Item Name"].unique())

average_price = heroes_df["Price"].mean()

no_of_purchase = len(heroes_df["Purchase ID"].value_counts())

total_revenue = heroes_df["Price"].sum()

#Create a summary data frame to hold the results

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_heroes], 
                                       "Average Price": [average_price], 
                                       "Number of Purchases": [no_of_purchase],
                                       "Total Revenue": [total_revenue]
                                      })

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)                                   

#Display the summary data frame

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#find player totals by user, need to exclude instances where player appears more twice 

gender_df = heroes_df[["Gender", "SN"]].value_counts()

grouped_gender_df = gender_df.groupby(['Gender'])

#Get count of players by gender 
gender_count = grouped_gender_df.count()

#Create new frame 
gender_demographics_df = pd.DataFrame({"Total Count": gender_count})


#Find Percentage of players
gender_demographics_df["Percentage of Players"] = (gender_demographics_df / total_players)

#Sort in order 
gender_demographics_df = gender_demographics_df.sort_values("Total Count", ascending=False)

#Format the percentages 
gender_demographics_df = gender_demographics_df.style.format({"Percentage of Players":"{:.2%}"})

#Display the data frame 
gender_demographics_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#use heroes_df 
# heroes_df.head(5)

In [6]:
#Group the data frame by gender and search price for new data frame 

purchase_count = heroes_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
av_purchase_price = heroes_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_value = heroes_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
av_total_pp = total_purchase_value / gender_count
# av_total_pp

In [7]:
#create a summary table for Purcahsing Analysis (Gender)

Purchasing_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": av_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": av_total_pp
    
})

#Format the table 

Purchasing_analysis_gender_df["Average Purchase Price"] = Purchasing_analysis_gender_df["Average Purchase Price"].map("${:.2f}".format)
Purchasing_analysis_gender_df["Total Purchase Value"] = Purchasing_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_analysis_gender_df["Avg Total Purchase per Person"] = Purchasing_analysis_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)  

#Display the summary data frame
Purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#Find the age range for the bins 

# print(heroes_df["Age"].max())
# print(heroes_df["Age"].min())

In [9]:
#create bins for ages 

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Create a new df to edit and group , drop duplicate users so that we do not count same user age twice 

age_df = heroes_df.drop_duplicates(subset=["SN"])
# age_df

In [10]:
#split the players into the bins 

Age_Sum = pd.cut(age_df["Age"], bins, labels=ages, include_lowest=True)
# Age_Sum

In [11]:
#group by the age and count purchases by age group

Age_demo = age_df.groupby(Age_Sum).count()["Purchase ID"]
# Age_demo

#Get the percentage by player 

percentage_age_players = Age_demo / total_players

In [12]:
#Create the data frame 

Age_demographics_summary_df = pd.DataFrame({
    "Total Count": Age_demo,
    "Percentage of Players": percentage_age_players
  })

#Format the percentage column 

Age_demographics_summary_df = Age_demographics_summary_df.style.format({"Percentage of Players":"{:.2%}"})

#Display Age Demographics Table

Age_demographics_summary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#create a new dataframe to work from 

Purchasing_analysis_age_df = heroes_df

In [14]:
#bin the new data frame by age ranges 

Purchasing_analysis_age_df["Age Ranges"] = pd.cut(Purchasing_analysis_age_df["Age"], bins, labels=ages, include_lowest=True)

In [15]:
#group the new dataframe by age ranges 

group_by_age_pa = Purchasing_analysis_age_df.groupby("Age Ranges")

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. 

PA_age_purchase_count = Purchasing_analysis_age_df.groupby(["Age Ranges"]).count()["Price"]
PA_age_av_purchase_price = Purchasing_analysis_age_df.groupby(["Age Ranges"]).mean()["Price"]
PA_age_total_purchase_price = Purchasing_analysis_age_df.groupby(["Age Ranges"]).sum()["Price"]
PA_age_average_pp = PA_age_total_purchase_price / Age_demo

In [26]:
# Create a summary data frame to hold the results

purchase_analysis_age_summary_df = pd.DataFrame ({"Purchase Count": PA_age_purchase_count,
                                               "Average Purchase Price": PA_age_av_purchase_price,
                                               "Total Purchase Price": PA_age_total_purchase_price,
                                               "Av Total Purchase per Person": PA_age_average_pp
})

#format the summary table 

purchase_analysis_age_summary_df["Average Purchase Price"] = purchase_analysis_age_summary_df["Average Purchase Price"].map("${:.2f}".format) 
purchase_analysis_age_summary_df["Total Purchase Price"] = purchase_analysis_age_summary_df["Total Purchase Price"].map("${:,.2f}".format) 
purchase_analysis_age_summary_df["Av Total Purchase per Person"] = purchase_analysis_age_summary_df["Av Total Purchase per Person"].map("${:.2f}".format) 

#Display summary table 

purchase_analysis_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Av Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#Create a new data frame 

top_spenders_df = heroes_df 
# top_spenders_df

In [18]:
# group by user 

top_by_user = top_spenders_df.groupby(["SN"]).count()

In [19]:
# add the columns for top spenders looking at users and price 

top_count = top_spenders_df.groupby(["SN"]).count()["Price"]
top_average = top_spenders_df.groupby(["SN"]).mean()["Price"]
top_total = top_spenders_df.groupby(["SN"]).sum()["Price"]

In [20]:
# create the new summary 

top_spenders_summary_table_df = pd.DataFrame({"Purchase Count": top_count,
                                           "Average Purchase Price":top_average,
                                           "Total Purchase Value":top_total
    
    
})

#sort the table 
top_spenders_summary_table_df = top_spenders_summary_table_df.sort_values("Total Purchase Value", ascending=False)

#format the table to $ values 
top_spenders_summary_table_df ["Average Purchase Price"] = top_spenders_summary_table_df["Average Purchase Price"].map("${:.2f}".format) 
top_spenders_summary_table_df ["Total Purchase Value"] = top_spenders_summary_table_df["Total Purchase Value"].map("${:.2f}".format) 

#show top 5 results 
top_spenders_summary_table_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
#define data frame for most popular items 
most_pop_items_df = heroes_df

In [22]:
#Group by the Item ID and Item Name 

most_pop_items_df = most_pop_items_df.groupby(["Item ID", "Item Name"])

In [23]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, 
#item price, and total purchase value


most_pop_purchase_count = most_pop_items_df.count()["Price"]
most_pop_item_price = most_pop_items_df.mean()["Price"]
most_pop_total_purchase = most_pop_items_df.sum()["Price"]

In [24]:
#Create a summary data frame to hold the results

most_pop_item_summary_table_df = pd.DataFrame({"Purchase Count": most_pop_purchase_count,
                                              "Item Price": most_pop_item_price,
                                               "Total Purchase Value": most_pop_total_purchase
                                              })


#Sort the purchase count column in descending order

most_pop_item_summary_table_formatted_df = most_pop_item_summary_table_df.sort_values(["Purchase Count"], ascending=False)

#format the columns 
most_pop_item_summary_table_formatted_df["Item Price"] = most_pop_item_summary_table_formatted_df["Item Price"].map("${:.2f}".format)
most_pop_item_summary_table_formatted_df["Total Purchase Value"] = most_pop_item_summary_table_formatted_df["Total Purchase Value"].map("${:.2f}".format)

#Display a preview of the summary data frame
most_pop_item_summary_table_formatted_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
#Sort the above table by total purchase value in descending order

most_profitable_summary_df = most_pop_item_summary_table_df.sort_values(["Total Purchase Value"], ascending=False)

#format the columns 
most_profitable_summary_df["Item Price"] = most_profitable_summary_df["Item Price"].map("${:.2f}".format)
most_profitable_summary_df["Total Purchase Value"] = most_profitable_summary_df["Total Purchase Value"].map("${:.2f}".format)

# Display a preview of the data frame
most_profitable_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80