### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Heroes of Pymoli

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(heroes_csv)

#Show the dataframe 
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Get the total number of players
#Calculate the lengh of users then convert to dataframe 

total_players = len(heroes_df["SN"].unique())

total_players_df = pd.DataFrame({"Total Players" : [total_players]})

total_players_df

   Total Players
0            576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:


unique_heroes = len(heroes_df["Item Name"].unique())

average_price = heroes_df["Price"].mean()

no_of_purchase = len(heroes_df["Purchase ID"].value_counts())

total_revenue = heroes_df["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_heroes], 
                                       "Average Price": [average_price], 
                                       "Number of Purchases": [no_of_purchase],
                                       "Total Revenue": [total_revenue]
                                      })

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)                                   

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

This one seems to work

In [4]:
#find player totals by user 

gender_df = heroes_df[["Gender", "SN"]].value_counts()

grouped_gender_df = gender_df.groupby(['Gender'])

gender_count_df = grouped_gender_df.count()
# gender_count_df

gender_demographics_df = pd.DataFrame(gender_count_df)
# gender_demographics_df

#Find Percentage of players

gender_split_df = (gender_demographics_df / total_players)
# gender_split_df


#Find Percentage of players

gender_split_df = (gender_demographics_df / total_players)

In [5]:
#Merge the two results together for Gender Demographics

merge_gender_df = pd.merge(gender_demographics_df,gender_split_df, on="Gender", how="outer")
# merge_gender_df

merged_gender_df = pd.DataFrame(merge_gender_df)

merged_gender_df  = merged_gender_df.sort_values("0_y", ascending=False)

renamed_gender_df = merged_gender_df.rename(columns=({"0_x": "Total Count", "0_y": "Percentage of Players"}))

renamed_gender_df = renamed_gender_df.style.format({"Percentage of Players":"{:.2%}"})

renamed_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#use heroes_df 
heroes_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
#Create Purchase count 

purchase_count = heroes_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
av_purchase_price = heroes_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_value = heroes_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
av_total_pp = total_purchase_value / gender_count_df
av_total_pp

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [8]:
#create a summary table for Purcahsing Analysis (Gender)

Purchasing_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": av_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": av_total_pp
    
})


Purchasing_analysis_gender_df["Average Purchase Price"] = Purchasing_analysis_gender_df["Average Purchase Price"].map("${:.2f}".format)
Purchasing_analysis_gender_df["Total Purchase Value"] = Purchasing_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_analysis_gender_df["Avg Total Purchase per Person"] = Purchasing_analysis_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)  

Purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
#Find the age range for the bins 

print(heroes_df["Age"].max())
print(heroes_df["Age"].min())

45
7

In [10]:
#create bins for ages 

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Create a new df to edit and group , drop duplicate users so that we do not count same user age twice 

age_df = heroes_df.drop_duplicates(subset=["SN"])
age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [11]:
#split the players into the bins 

Age_Sum = pd.cut(age_df["Age"], bins, labels=ages, include_lowest=True)
Age_Sum

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [13]:
#group by the age and count purchases 

Age_demo = age_df.groupby(Age_Sum).count()["Purchase ID"]
Age_demo

#Get the percentage by player 

percentage_age_players = Age_demo / total_players

In [14]:
#Create the data frame 

Age_demographics_summary_df = pd.DataFrame({
    "Total Count": Age_demo,
    "Percentage of Players": percentage_age_players
  })

#Format the percentage column 

Age_demographics_summary_df = Age_demographics_summary_df.style.format({"Percentage of Players":"{:.2%}"})

Age_demographics_summary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Add age column

age_ranges_for_analysis = heroes_df.groupby(["Gender"]).count()["Age"].rename("Age Ranges")

#Add to 

Purchasing_analysis_gender_df["Age Ranges"]=age_ranges_for_analysis
Purchasing_analysis_gender_df

lets_see = Purchasing_analysis_gender_df.groupby(["Age Ranges"])
lets_see

In [16]:
# Bin the purchase_data data frame by age

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

ages_anaysis = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

analysis_by_age = pd.cut(Purchasing_analysis_gender_df["Age"], bins, labels=ages, include_lowest=True)
analysis_by_age

KeyError: 'Age'

In [ ]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. 
# in the table below

In [ ]:
# Create a summary data frame to hold the results

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame